{% capture content %}

{% include 'includes/slideshow' %}

<div class="products-list">
	<div class="container">
		<h3><span>Featured</span> Products</h3>
			<ul class="thumbnails">

				<li class="span3">
					<div class="thumbnail">
						<a href="{{meta['feature1.link']}}"><img src="{{meta['feature1.img']}}" /></a>
						<h5 style="text-align:center;">{{meta['feature1.header']}}</a>
						<h6 style="text-align:center; color:#959595">{{meta['feature1.subheader']}}</h6>
						<p class="price">{{meta['feature1.price']}}</p>
						<p class="price2"><strong>{{meta['feature1.sale']}}</strong></p>
					</div>
				</li>

				<li class="span3">
					<div class="thumbnail">
						<a href="{{meta['feature2.link']}}"><img src="{{meta['feature2.img']}}" /></a>
						<h5 style="text-align:center;">{{meta['feature2.header']}}</a>
						<h6 style="text-align:center; color:#959595">{{meta['feature2.subheader']}}</h6>
						<p class="price">{{meta['feature2.price']}}</p>
						<p class="price2"><strong>{{meta['feature2.sale']}}</strong></p>
					</div>
				</li>

				<li class="span3">
					<div class="thumbnail">
						<a href="{{meta['feature3.link']}}"><img src="{{meta['feature3.img']}}" /></a>
						<h5 style="text-align:center;">{{meta['feature3.header']}}</a>
						<h6 style="text-align:center; color:#959595">{{meta['feature3.subheader']}}</h6>
						<p class="price">{{meta['feature3.price']}}</p>
						<p class="price2"><strong>{{meta['feature3.sale']}}</strong></p>
					</div>
				</li>

				<li class="span3">
					<div class="thumbnail">
						<a href="{{meta['feature4.link']}}"><img src="{{meta['feature4.img']}}" /></a>
						<h5 style="text-align:center;">{{meta['feature4.header']}}</a>
						<h6 style="text-align:center; color:#959595">{{meta['feature4.subheader']}}</h6>
						<p class="price">{{meta['feature4.price']}}</p>
						<p class="price2"><strong>{{meta['feature4.sale']}}</strong></p>
					</div>
				</li>

			</ul>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="span12">
      <h2 class="text-center margin-top margin-bottom">Our <span>Services</span></h2>
      
      <!-- Services List -->
      <ul class="thumbnails about-list">
        
        <!-- Service Single -->
        <li class="span3">
          <div class="thumbnail"><a href="http://sdnet.coopathome.ca/"><br><img src="/assets/sdnet.png" alt="sdnet" width="220px"></i></a>
          </div>
        </li>
        
        <!-- Service Single -->
        <li class="span3">
          <div class="thumbnail"><a href="/services/audio-video-consultation"><i class="icon-home icon-service"></i></a>
            <div class="caption">
              <h3><a href="/services/audio-video-consultation">Home Audio / Video Installation</a></h3>
            </div>
          </div>
        </li>
        
        <!-- Service Single -->
        <li class="span3">
          <div class="thumbnail"><a href="/services/web-design"><i class="icon-edit icon-service"></i></a>
            <div class="caption">
              <h3><a href="/services/web-design">Web Design</a></h3>
            </div>
          </div>
        </li>
        
        <!-- Service Single -->
        <li class="span3">
          <div class="thumbnail"><a href="/services/computer-service"><i class="icon-wrench icon-service"></i></a>
            <div class="caption">
              <h3><a href="/services/computer-service">Computer Service</a></h3>
            </div>
          </div>
        </li>
      </ul>
      <hr />
      
   </div>
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row"> 
 
     <!-- Footer Info -->
       <!-- Portfolio Single Images -->
    <div class="span3">
      <div class="products-list products-list-simple">
        <ul class="thumbnails">
          
          <!-- Products Single Box -->
          <li class="span3">
            <h5><i class="icon-globe"></i>Take a look at our store</h5>
            <div class="thumbnail"><img src="products/store.jpg" alt="Gallery" class="folio" />
              <div class="folio-detail"><a href="products/store.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
              <div class="folio-detail"><a href="products/store.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
            </div>
          </li>
          </ul>
      
</div></div>
      <!-- Footer Contact -->
      <div class="span3">
        <h5><i class="icon-asterisk"></i>Contact Us</h5>
        <ul class="footer-contact">
          <li><i class="icon-map-marker"></i>555 South Railway, Winkler</li>
          <li><i class="icon-phone"></i><strong>T.</strong> 204 325 8777</li>
          <li><i class="icon-mobile-phone"></i><strong>F.</strong> 204 325 9356</li>
          <li><i class="icon-facebook"></i><a href="https://www.facebook.com/CoopHome" target="_blank">Facebook</a></li>
        </ul>
      </div>
      <div class="footer-links">
      <div class="span3">
        <h5><i class="icon-info"></i>Information</h5>
        <ul>
          <li><a href="about.html">About Us</a></li>
          <li><a href="http://sdnet.coopathome.ca/">SDNet</a></li>
          <li><a href="ehf.html">EHF</a></li>
          <li><a href="http://www.phoenixamd.com/GA-appliance.html#about-appl">Extended Service Plan</a></li>
        </ul>
      </div>
      
      <div class="span3">
        <h5><i class="icon-comment"></i>Customer Service</h5>
        <ul>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="returns.html">Returns + Exchanges</a></li>
          <li><a href="delivery.html">Delivery</a></li>
          <li><a href="repair.html">Computer Services</a></li>
        </ul>
      </div>
      </div>
      </div>
  </div>
</div>

<div class="header">
<div class="container">
    <div class="row"> 
      
      <!-- Secondary Menu -->
      <ul class="nav nav-pills span6">

      	<li><a href="/">Home</a></li>
      	{% for post in site.pages.products.posts %}
        <li><a href="{{ post.url }}"{% if post.url == url %}class="is-current"{% endif %}>{{ post.title }}</a></li>
        {% endfor %}
        {% for post in site.pages.services.posts %}
        <li><a href="{{ post.url }}"{% if post.url == url %}class="is-current"{% endif %}>{{ post.title }}</a></li>
        {% endfor %}
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="https://plus.google.com/107573968644470588446/" rel="publisher" target="_blank">Google+</a></li>
       
       </ul>
      
     </div></div></div>
<br>
<!-- Copy -->
<div class="copy">
  <div class="container">
    <div class="row">
      <div class="span12"> <!-- Cards -->
        <p class="text-center">  <a href="index.html"><img src="img/logo-small.png" alt="logo" width="200" /></a><br>&copy; 2013</p>
      </div>
    </div>
  </div>
</div>

<!-- to Top -->
<div id="toTop"><i class="icon-chevron-up icon-white"></i></div>

<div class="md-overlay"></div><!-- the overlay element -->

		<!-- classie.js by @desandro: https://github.com/desandro/classie -->
		<script src="js/classie.js"></script>
		<script src="js/modalEffects.js"></script>

		<!-- for the blur effect -->
		<!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
		<script>
			// this is important for IEs
			var polyfilter_scriptpath = '/js/';
		</script>
		<script src="js/cssParser.js"></script>
		<script src="js/css-filters-polyfill.js"></script>

{% endcapture %}	

{% include 'layouts/default' %}