<div class="container">
  <div class="row">
    <div class="span12"> 
      
      <!-- Flex Slider -->
      <div class="flexslider">
        <ul class="slides">
          <!--1--> <li><script language="JavaScript">showImage();</script></li>
          <!--2--> <li><script language="JavaScript">showImage2();</script></li>
          <!--3--> <li><script language="JavaScript">showImage3();</script></li>
          <!--4--> <li><script language="JavaScript">showImage4();</script></li>
          <!--5--> <li><script language="JavaScript">showImage5();</script></li>
        </ul>
      </div>
    </div>
  </div>
</div>